[submodule "extern/deps"]
	path = extern/deps
	url = https://github.com/pdfmm/pdfmm-deps.git
[submodule "extern/resources"]
	path = extern/resources
	url = https://github.com/pdfmm/pdfmm-resources.git
